@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Source+Sans+Pro:wght@300;400;700&display=swap');

/****** START NAVBAR ******/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Josefin Sans", sans-serif;
}

.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #E0BBE4 0%, #FBD2D7 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    padding-top: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links, .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Source Sans Pro', sans-serif;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}


/******* END NAVBAR ******/

/****** START FOOTER ******/
#document {
    height: 10px;
    display: flex;
    flex-direction: column;
}

footer {
    flex-shrink: 0;
}

h3, p {
    padding: 20px;
}

footer {
    color: white;
    background: url(../img/FOOTER.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer > h1 {
    text-shadow: 1px 1px 4px #00000000;
}
/****** END FOOTER ******/

/****** START ABOUT SECTION ******/
.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section {
    background: url(../img/FOOTER.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 10px 0;
}

.inner-container {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text {
    font-size: 12px;
    color: #545454;
    line-height: 20px;
    text-align: justify;
    padding: 0;
}

/*.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}*/


/****** END ABOUT SECTION ******/

/****** START GALLERY ******/
.litho {
    padding: 20px;
    font-family: sans-serif;
    background: #f2f2f2;
  }
  
  img {
    width: 100%;
    height: auto;
  }

  h1 {
    margin-bottom: .5em;
    font-family: 'Great Vibes', cursive;
    font-size: 44px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }
  
  .location-listing {
    position: relative;
  }
  
  .location-image {
    line-height: 0;
    overflow: hidden;
  }
  
  .location-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .location-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(224,187,228,0.4);
    color: white;
    
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .location-listing:hover .location-title {
    opacity: 1;
  }
  
  .location-listing:hover .location-image img {
    filter: blur(2px);
  }
  
  
 /****** MEDIA QUERIES ******/
  @media (hover: none) { 
    .location-title {
      opacity: 1;
    }
    .location-image img {
      filter: blur(2px);
    }
  }

  @media screen and (max-width:1200px) {
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover, .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}